# Assignment 2: Fundamentals of Python (30 pts)

## Question 1: Markdown  (5 pts)

Create a markdown cell below. Do the following tasks: 

- Display an image. (1 pt)
- Write a caption for the image in italics. (1 pt)
- Link a wikipedia page. (1 pt)
- Write a bullet point list summarizing the page (don't be thorough, just want to see you make bullet points.) (1 pt)
- Write an equation on its own line that includes a fraction and an exponent (e.g. 2 squared).

!["Quebec City Hotel"](QuebecCity.png)

*This is a picture from my February break. It is a view of the Fairmont Le Chateau Fontenac and the river in Quebec City, Canada.*

[Chateau Frontenac Wikipedia Page](https://en.wikipedia.org/wiki/Ch%C3%A2teau_Frontenac)

- This is the wikipedia page for the Cheteau Frontenac.
- It has sections on the location, design, and history of the hotel.
$$({1 \over 2}) ^ 2$$

## Question 2: Data types and variables (5 pt)


- Create 3 variables with the values of `9`, `9.9`, and `"9"` (1 pt).
- Print out the data types of each variable (1 pt).
- Convert the 3 variable types to the same data type and then add them together to get the following values:
  - `27` (1 pt)
  - `27.9` (1 pt)
  - `999.9` (1 pt)

In [3]:
# your answer here:
x = 9
y = 9.9
z = "9"
print (type(x))
print (type(y))
print (type(z))
integer_combo = int(x) + int(y) + int(z)
float_combo = float(x) + float(y) + float(z)
string_combo = str(x) + str(z) + str(y)

<class 'int'>
<class 'float'>
<class 'str'>
27
27.9
999.9

## Question 3: Data structures (5 pt)

- Create a dictionary with 3 keys called `'a'`, `'b'`, and `'c'`. The value for each key should be a blank list. (1 pt)
- Append the list associated with key `a` with a blank set. (1 pt)
- Append the list associated with key `b` with any 4 numbers. (1 pt)
- Change the third item in the list associated with key `b` to be `1000`. (1 pt)
- Print out the dictionary (1 pt)

In [16]:
# your code here:
d1 = {"a":[], "b":[], "c":[]}
d1["a"].append(set())
for i in range(4):
    d1["b"].append(i)
d1["b"][2] = 1000
print (d1)

{'a': [set()], 'b': [0, 1, 1000, 3], 'c': []}

## Question 4: Transferring to different structure (5 pts)

Some data was collected by 5 different researchers on deer population sizes. Below, this data was recorded with accompanying temperature data and dates in three lists. In each list, one researcher is associated with the same index.

0. Haley McCann
1. Siena Welch
2. Jaylin Mercado
3. Ismael Hayden
4. Nina Bright

Use the data across the three lists to create a dictionary storing each researcher's name and data as key:value pairs. Carefully consider how to best store the data as each value (4 pt).

Retrieve the data from the lists using indexing; **do NOT** manually type the data into the dictionary. (1 pt)

In [17]:
# don't modify the lists

temperatures = [29.75, 12.63, 31.58, 7.16, 32.51]

populations = [442, 336, 505, 913, 933]

dates = ['5/25/2022','3/18/2022','6/28/2022','11/11/2022','7/6/2023']

# your code below:
names = ["Haley McCann", "Siena Welch", "Jaylin Mercado", "Ismael Hayden", "Nina Bright"]
d2 = dict()
for i in range(len(dates)):
    d2[names[i]] = [temperatures[i], populations[i], dates[i]]

print(d2)

{'Haley McCann': [29.75, 442, '5/25/2022'], 'Siena Welch': [12.63, 336, '3/18/2022'], 'Jaylin Mercado': [31.58, 505, '6/28/2022'], 'Ismael Hayden': [7.16, 913, '11/11/2022'], 'Nina Bright': [32.51, 933, '7/6/2023']}

## Question 5: Booleans
What is the value of each of the following statements? Explain why for each statement. (1 pt each)

In [19]:
# 1
True and False
# This statement is False because the and operator only returns True if both statements are True.

# 2
not True or False
# This statemnet is False. Since there are no parantheses, the operators go left to right. 
# First evaluate not True which is False and then the statement becomes False or False is False.

# 3
True or False or True
# This statement is True. Again, read left to right. First evaluate True or False which is True. 
# Then the statement simplified to True or True which is True.

# 4
not (not True or not False)

# This statement is False. We evaluate inside the parantheses first, evaluating the nots and then the or.
# The statement with parantheses added to make the order clear is "not((not True) or (not False))". 
# The not next to the False is evaluated before the or because not is next to False.
# not True is False and not False is True so the inside of the parantheses becomes False or True.
# False or True is True. Finally, there is a not outside of the parantheses so the answer is False.

# 5
int( not(10 > 5 and 2 < 3) )
# This evaluates to 0. Starting inside the parantheses, 10 > 5 is True, and 2 < 3 is also True. 
# True and True is True. Moving outside the innermost parantheses to the not, not True is False.  
# int(False) becomes 0.

0

### Answers:

## Question 6: Conditionals (5 pt)
 
The following converts Celsius (C) to Farhenheit (F):

$$F = (C * \frac{9}{5}) + 32 $$

You can convert Celsius (C) to Kelvin with the following (K).

$$K = C - 273.15$$

The lowest possible value in Celsius is -273.13, also known as absolute zero.

Create a variable called `cel` set to be some number. It represents temperature in degrees Celsius. (1 pt)

Create another variable called `convert`. Make it have either the value `'far'` or `'kel'`. (1 pt)

Write code that does the following:

If `cel` is below absolute zero, print out an error. Otherwise, convert the value in `cel` to Farhenheit if `convert` is `'far'` and to Kelvin if `convert` is `'kel'`. In both cases, print out the converted value. If `convert` has any other value, print a warning message saying that `convert` is not `'kel'` or `'far'`. (3 pt)

In [22]:
# your code here:
cel = 0
convert = 'kel'
if cel < -273.13:
    print('out an error')
else:
    if convert == 'far':
        print((cel*1.8) + 32)
    elif convert == 'kel':
        print(cel + 273.15)
    else:
        print('a warning message saying that convert is not kel or far')

273.15